<!DOCTYPE html>
<html>
<head>
<title>BLiver Server</title>
<style type="text/css">
html {
  background: #bbb;
}
body {
  background: #fff;
  font-family: sans-serif;
  box-shadow: 0px 5px 8px #eee;
  margin: 10px 0;
  padding: 10px 10px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  Border-radius: 5px;
}
form textarea {
  width: 100%;
}
.info {
  font-variant: italic;
  font-size: 85%;
  border-bottom: 1px solid black;
}
h1 { margin-bottom: 5px; }
</style>
</head>
<body>
<div align="center">
<img src='logo.png'>
</div>
<h1>BLiver Webshop</h1>
<div class="info">This is just a demo for various server-side endpoints</div>

{% block body -%}{%- endblock body %}

</body>
</html>
