{% extends "base.html" %}
{% block body %}

<h1>Hello World!</h1>
<h2>Multisig URI</h2>
<a href="{{ms_uri}}">multisig uri</a>

<h2>Submit Pubkey</h2>
<form action="{{ms_url}}" method="post">
<textarea name="pubkey">mrvQxKbe321W58xaTs65YS6mvUVGQyP52B</textarea>
<br/>
<input type="submit" value="send" />
</form>

<h2>Check</h2>
<a href="{{ check_url }}">check addr</a>

<h2>Package QR Code</h2>
<div>
This is the partial transaction QR code:
<br>
<img src='{{qr_url}}' height="256" width="256">
</div>

<h2>Import PrivKey</h2>
<form action="{{privkey_import}}" method="post">
<textarea name="privkey"></textarea>
<br>
<input type="submit" value="import">
</form>

{% endblock %}
